<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mike Harper's Portfolio</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <header>
        <nav>
            <div class="logo">Mike Harper</div>
            <ul class="nav-links">
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#portfolio">Portfolio</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </header>

    <section id="home" class="hero">
        <h1>I'm Mike Harper, a 2024 Computer Science Graduate</h1>
        <p>Enthusiastic about AI and Machine Learning</p>
        <a href="#about" class="cta">Learn More</a>
    </section>

    <section id="about" class="section-container">
        <h2>About Me</h2>
        <p>
            Hi there! I’m Mike Harper. My career has taken an interesting path from managing restaurants to tech sales,
            and now, having recently graduated with a degree in Computer Science, I'm fully diving into the tech world.
            My journey so far has been driven by a passion for solving problems and an eagerness to embrace new
            challenges.
        </p><br>

        <p>
            With my computer science degree freshly in hand, I’ve acquired a solid foundation in programming, from Java
            and Python to web development and database management. My experiences have not only sharpened my technical
            skills but also honed my ability to break down complex concepts for anyone to understand, a skill I
            cultivated while providing tech support to customers at Cellular Sales and overseeing operations at
            Cabo Fish Taco.
        </p><br>

        <p>
           As I step into the professional world of technology, my goal is clear: to land a rewarding job that allows
            me to apply and expand my technical skills. I'm open to exploring diverse roles within computer science,
            whether it's software development, data analysis, or any exciting opportunity that promises growth and a
            good challenge. What matters most to me is finding a career that fuels my passion for technology and
            problem-solving.
        </p><br>

        <p>
           When I'm not coding or learning about the latest tech trends, you can find me experimenting with new gadgets
            or enjoying time with my pets. I'm on the lookout for a role where I can make a significant impact,
            continue to learn, and grow as part of a dynamic team.
        </p><br>

        <p>
            Thanks for visiting my site! If you're interested in discussing potential job opportunities, tech projects,
            or just want to talk shop, please don’t hesitate to get in touch.
        </p>

    </section>

    <section id="portfolio" class="section-container">
        <h2>My Work</h2>
        <!-- Add project thumbnails here TODO -->
    </section>

    <section id="skills" class="section-container">
        <h2>Skills</h2>
        <!-- Add skill icons or lists here TODO-->
    </section>

    <section id="contact" class="section-container">
        <h2>Contact</h2>
        <form action="#" method="post">
            <input type="text" placeholder="Your Name" name="name">
            <input type="email" placeholder="Your Email" name="email">
            <textarea placeholder="Your Message" name="message"></textarea>
            <button type="submit">Send Message</button>
        </form>
    </section>

    <footer>
        <p>©2024 Mike Harper. All rights reserved.</p>
    </footer>

    <script src="script.js"></script>
</body>
</html>